<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>DAGA_me</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>JNDI reference to a data source</description>
		<res-ref-name>jdbc/daga</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<servlet>
		<servlet-name>ConPool</servlet-name>
		<servlet-class>it.unisa.model.ConPool</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddHome</servlet-name>
		<servlet-class>it.unisa.controller.AddHome</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddHome</servlet-name>
		<url-pattern>/AddHome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddCard</servlet-name>
		<servlet-class>it.unisa.controller.AddCard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCard</servlet-name>
		<url-pattern>/AddCard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAdmin</servlet-name>
		<servlet-class>it.unisa.controller.AddAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAdmin</servlet-name>
		<url-pattern>/AddAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShopCart</servlet-name>
		<servlet-class>it.unisa.controller.ShopCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopCart</servlet-name>
		<url-pattern>/ShopCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelAdmin</servlet-name>
		<servlet-class>it.unisa.controller.DelAdmin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelAdmin</servlet-name>
		<url-pattern>/DelAdmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DelPre</servlet-name>
		<servlet-class>it.unisa.controller.DelPre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelPre</servlet-name>
		<url-pattern>/DelPre</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddPre</servlet-name>
		<servlet-class>it.unisa.controller.AddPre</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPre</servlet-name>
		<url-pattern>/AddPre</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveCart</servlet-name>
		<servlet-class>it.unisa.controller.RemoveCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCart</servlet-name>
		<url-pattern>/RemoveCart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AddCart</servlet-name>
		<servlet-class>it.unisa.controller.AddCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddCart</servlet-name>
		<url-pattern>/AddCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<servlet-class>it.unisa.controller.CreateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>it.unisa.controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>it.unisa.controller.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertProduct</servlet-name>
		<servlet-class>it.unisa.controller.InsertProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertProduct</servlet-name>
		<url-pattern>/InsertProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModifyProduct</servlet-name>
		<servlet-class>it.unisa.controller.ModifyProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModifyProduct</servlet-name>
		<url-pattern>/ModifyProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteProduct</servlet-name>
		<servlet-class>it.unisa.controller.DeleteProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteProduct</servlet-name>
		<url-pattern>/DeleteProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InsertImage</servlet-name>
		<servlet-class>it.unisa.controller.InsertImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertImage</servlet-name>
		<url-pattern>/InsertImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowProduct</servlet-name>
		<servlet-class>it.unisa.controller.ShowProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowProduct</servlet-name>
		<url-pattern>/ShowProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowUser</servlet-name>
		<servlet-class>it.unisa.controller.ShowUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUser</servlet-name>
		<url-pattern>/ShowUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>it.unisa.controller.ShowImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/ShowImage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>get_product</servlet-name>
		<servlet-class>it.unisa.controller.get_product</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_product</servlet-name>
		<url-pattern>/get_product</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>get_product_id</servlet-name>
		<servlet-class>it.unisa.controller.get_product_id</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_product_id</servlet-name>
		<url-pattern>/get_product_id</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UpdateQCart</servlet-name>
		<servlet-class>it.unisa.controller.UpdateQCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateQCart</servlet-name>
		<url-pattern>/UpdateQCart</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>get_product_name_list</servlet-name>
		<servlet-class>it.unisa.controller.get_product_name_list</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_product_name_list</servlet-name>
		<url-pattern>/get_product_name_list</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>get_product_json</servlet-name>
		<servlet-class>it.unisa.controller.get_product_json</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_product_json</servlet-name>
		<url-pattern>/get_product_json</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EmailCheck</servlet-name>
		<servlet-class>it.unisa.controller.EmailCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmailCheck</servlet-name>
		<url-pattern>/EmailCheck</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>get_fattura_json</servlet-name>
		<servlet-class>it.unisa.controller.get_fattura_json</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>get_fattura_json</servlet-name>
		<url-pattern>/get_fattura_json</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>add_cart_no_login</servlet-name>
		<servlet-class>it.unisa.controller.add_cart_no_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add_cart_no_login</servlet-name>
		<url-pattern>/add_cart_no_login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remove_cart_no_login</servlet-name>
		<servlet-class>it.unisa.controller.remove_cart_no_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remove_cart_no_login</servlet-name>
		<url-pattern>/remove_cart_no_login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>update_q_no_login</servlet-name>
		<servlet-class>it.unisa.controller.update_q_no_login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update_q_no_login</servlet-name>
		<url-pattern>/update_q_no_login</url-pattern>
	</servlet-mapping>


</web-app>